<html>
<head>
	<title>snake and ladder game</title>
</head>
<body>
     <canvas id="mycanvas" width="650" height="650"></canvas><br>
     <!-- <button type="button" ng-click="playGame()">play</button><br>
     <button type="button" ng-click="restart()">restart game</button> -->
     <script type="text/javascript">
          var canvas = document.getElementById('mycanvas');
		  var ctx= canvas.getContext('2d');
		  ctx.fillStyle = "#fff";
		  ctx.fillRect(0,0,650,650);
          var x = 0,y=650,c=1;
          for(var i=1; i <=10;i++){
          	  if(i%2 !== 0){
                x = 0;
              }else{
              	x = 650;
              }
              y = y - 65;
               
               	if(i%2 !== 0){
                  for(var j=1; j<= 10; j++){
                 	  if(j%2 !== 0){
                 	  	   ctx.font = '15px Arial';
                 	  	   ctx.fillStyle = "#000";
                 	  	   ctx.fillText(c,x,y+65);
                         c++;
  	                   ctx.fillStyle = 'red';
  	                   ctx.fillRect(x,y,65,65);
  	                   x = x +65;
                    }else{ 
                         ctx.font = '15px Arial';
                         ctx.fillStyle = "#000";
                 	  	   ctx.fillText(c,x,y+65);
                         c++;
  	                   ctx.fillStyle = 'white';
  	                   ctx.fillRect(x,y,65,65);
  	                   x = x +65;
                    }
                  }
                }else{
                   console.log(i,j%2,j);
                   for(var j=1; j<= 10; j++){
                     if(j%2 === 0){
                         ctx.font = "15px Arial";
                         ctx.fillStyle = "black";
                         ctx.fillText(c,x-65,y+65);
                         c++;
                         ctx.fillStyle = "white";
                         ctx.fillRect(x-65,y,65,65);
                         x = x-65;
                     }else{
                     	    ctx.font = "15px Arial";
                          ctx.fillStyle = "black";
                          ctx.fillText(c,x-65,y+65);
                          c++;
                          ctx.fillStyle = "red";
                          ctx.fillRect(x-65,y,65,65);
                          x = x-65; 
                     }
                   }
                 }
               }

          
     </script>
</body>
</html>